<article class="{% for m in Data.Months %}{{m.name()}}{% endfor %}">
    <div class="name">
        <p class="en">{{Data.name_en}}</p>
        <p class="jp">{{Data.name_jp}}</p>
        <p class="price">{{Data.price}} Bells</p>
    </div>
    {% for m in Data.Months %}
    {% for t in m.times %}
    <div class="rarity m.name() {% for x in range(t.starthour, t.endhour) %}time{{x}} {% endfor %}">
        <p class="time">{{t.ampm()}}</p>
        <p class="label">{{t.rarity}}</p>
        <img src="res/{{t.rarity}}.png">
    </div>
    {% endfor %}
    {% endfor %}
</article>
